<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_main.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.MainActivity&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView15&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;400dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;800dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;20dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;12dp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/frame_1&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;androidx.cardview.widget.CardView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/cardView5&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;350dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;55dp&quot;</span>
        <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;25dp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.557&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/cardView3&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.233&quot; </span><span class="s0">&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView12&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;28dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;30dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/phone&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView3&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;40dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;45dp&quot;</span>
            <span class="s1">android:fontFamily</span><span class="s2">=&quot;sans-serif-thin&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;I&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#000000&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;40dp&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView9&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;60dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;14dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;No Telp&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;20dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;/androidx.cardview.widget.CardView&gt;</span>

    <span class="s0">&lt;androidx.cardview.widget.CardView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/cardView4&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;350dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;55dp&quot;</span>
        <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;25dp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.557&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/cardView3&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.032&quot; </span><span class="s0">&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView11&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;28dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;30dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/key&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView4&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;40dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;45dp&quot;</span>
            <span class="s1">android:fontFamily</span><span class="s2">=&quot;sans-serif-thin&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;I&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#000000&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;40dp&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView10&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;60dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;14dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Kata Sandi&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;20dp&quot; </span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/androidx.cardview.widget.CardView&gt;</span>

    <span class="s0">&lt;androidx.cardview.widget.CardView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/cardView2&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;350dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;55dp&quot;</span>
        <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;25dp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.551&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.319&quot; </span><span class="s0">&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView9&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;28dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;30dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/user&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;40dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;45dp&quot;</span>
            <span class="s1">android:fontFamily</span><span class="s2">=&quot;sans-serif-thin&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;I&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#000000&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;40dp&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView7&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;60dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;14dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Nama&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;20dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;/androidx.cardview.widget.CardView&gt;</span>

    <span class="s0">&lt;androidx.cardview.widget.CardView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/cardView3&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;350dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;55dp&quot;</span>
        <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;25dp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.557&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/cardView2&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.041&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView10&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;28dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;30dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/gmail_logo&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView5&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;40dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;45dp&quot;</span>
            <span class="s1">android:fontFamily</span><span class="s2">=&quot;sans-serif-thin&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;I&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#000000&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;40dp&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView11&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;60dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;14dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Email&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;20dp&quot; </span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/androidx.cardview.widget.CardView&gt;</span>

    <span class="s0">&lt;androidx.cardview.widget.CardView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/cardView6&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;350dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;55dp&quot;</span>
        <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;25dp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.491&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/cardView5&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.049&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView14&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;28dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;30dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/edit&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView2&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;40dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;45dp&quot;</span>
            <span class="s1">android:fontFamily</span><span class="s2">=&quot;sans-serif-thin&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;I&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#000000&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;40dp&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView8&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;60dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;14dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;No Nik&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;20dp&quot; </span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/androidx.cardview.widget.CardView&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/button5&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;130dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;50dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;4dp&quot;</span>
        <span class="s1">android:backgroundTint</span><span class="s2">=&quot;#FAFAFA&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;DAFTAR&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#000000&quot;</span>
        <span class="s1">app:cornerRadius</span><span class="s2">=&quot;25dp&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.903&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/cardView6&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView12&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;20dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Daftarkan AkunMu&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#020000&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;35dp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">app:layout_constraintBottom_toTopOf</span><span class="s2">=&quot;@+id/cardView2&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.495&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;@+id/imageView15&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.946&quot; </span><span class="s0">/&gt;</span>

<span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span></pre>
</body>
</html>